/*.wrapper {
  padding-top: 30px;
}*/

body h3 {
  margin-bottom: 25px;
}

.navbar-brand  {
  color: #ffffff;
  
}
.navbar{
  color: #ffffff;
}


.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
  color: #ffffff;
}



.bg-navbar{
  
  height: 55px;
}



.nav-link{
  color:#e2e2e2;
  
}

.input-group{
  width: 200px;
  height: 1%;
  left: -10px;
  color: #ffffff;
  top:6px;
}
.btn-outline-success{
  color:#fff;
  height: 35px;
  border-color:#ffffff;
}

@media (max-width: 858px){
  .nav-link{
    display: none;
  }
  .form-wrapper {
    width: 400px;
    
  }
}
@media (max-width: 991px){
  .nav-link{
    display: none;
  }
}
.carousel {
  position: relative;
  top: -24px;
}
/*.card-body{
  box-shadow: 3px 3px 20px 3px #ccc;
  width: 600px;
  height: 520px;
  border-radius: 2%;
}
 .control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
} */


